<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body ng-app="app">
    <div ng-controller="myController">
        <!-- <ul>
            <li ng-repeat="user in users">{{user.fname}}</li>
        </ul> -->
        <select ng-model="selectedUser" ng-options="a.fname for a in users"></select>

<p>{{selectedUser.address}}</p>    </div>
<hr>
    <div ng-controller="controller2">
        <ul>
            <li ng-repeat="user in users">{{user.city}}</li>
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.js"></script>
    <script>
    var app = angular.module("app",[])
    app.controller("myController",function ($rootScope){
        $rootScope.users = [
                {
                    "fname": "Connie",
                    "lname": "Weatherly",
                    "tel": "(539)642-4565",
                    "address": "8249 Placerat St",
                    "city": "Vacaville",
                    "state": "IL",
                    "zip": 71226
                },
                {
                    "fname": "Julius",
                    "lname": "Smallwood",
                    "tel": "(102)290-3517",
                    "address": "6937 Hendrerit Ct",
                    "city": "Mesa",
                    "state": "WY",
                    "zip": 58813
                },
                {
                    "fname": "Delena",
                    "lname": "Logue",
                    "tel": "(948)954-7109",
                    "address": "6210 Risus Rd",
                    "city": "Fort Mill",
                    "state": "ME",
                    "zip": 67177
                },
                {
                    "fname": "Shahzad",
                    "lname": "Romard",
                    "tel": "(522)495-1559",
                    "address": "1020 Sed Ave",
                    "city": "Hollywood",
                    "state": "TN",
                    "zip": 38850
                },
                {
                    "fname": "Teriah",
                    "lname": "Robison",
                    "tel": "(336)624-5442",
                    "address": "3892 Molestie Rd",
                    "city": "Saint Pauls",
                    "state": "SC",
                    "zip": 25975
                },
                {
                    "fname": "Lise",
                    "lname": "Seguin",
                    "tel": "(989)832-0413",
                    "address": "4239 Ac Rd",
                    "city": "Franklin",
                    "state": "ID",
                    "zip": 63075
                },
                {
                    "fname": "Segun",
                    "lname": "Langille",
                    "tel": "(914)068-9730",
                    "address": "1950 Magna Ln",
                    "city": "Carrollton",
                    "state": "IA",
                    "zip": 55850
                },
                {
                    "fname": "Terrell",
                    "lname": "Mel",
                    "tel": "(550)672-6950",
                    "address": "3501 Pharetra Dr",
                    "city": "Burke",
                    "state": "VT",
                    "zip": 65600
                },
                {
                    "fname": "Shane",
                    "lname": "Linville",
                    "tel": "(797)743-6185",
                    "address": "3862 Hendrerit Ln",
                    "city": "Kingwood",
                    "state": "MA",
                    "zip": 81200
                },
                {
                    "fname": "Sanjay",
                    "lname": "Kozlowski",
                    "tel": "(154)839-9778",
                    "address": "9830 Lectus Ave",
                    "city": "Racine",
                    "state": "FL",
                    "zip": 55552
                }
            ]
    })

    app.controller("controller2",function ($rootScope){
        console.log($rootScope)
    })
    </script>
</body>
</html>